<div class="conteudo">
  <div class="layout">
    <form [formGroup]="formValues">
      <div class="etapa" *ngIf="formPaginaAtual == 1">
        <h2 class="titulo">Canal de Denúncia</h2>
        <div class="conteudoTexto" [innerHTML]="conteudoTextos.conteudoTexto1"></div>
        <div class="downloads">
          <h2>Documentos para Consulta</h2>
          <div class="wrap">
            <a href="#">Código de Conduta</a>
            <a href="#">Regulamento de Compras e Contratações</a>
            <a href="#">Manual de Registro de Manifestações</a>
            <a href="#">Política de Classificação e Apuração de Manifestação</a>
          </div>
        </div>
        <div class="form">
          <div class="row">
            <input type="email" [class.invalid]="formValues.get('email')?.invalid && formValues.get('email')?.touched" formControlName="email" placeholder="E-mail:" />
            <p class="mensagemInvalido" *ngIf="formValues.get('email')?.invalid && formValues.get('email')?.touched">Campo invalido</p>
            <p class="mensagemInvalido" *ngIf="formValues.get('email') && formValues.get('email')?.errors && formValues.get('email') && formSubmitted">Campo Obrigatório</p>
          </div>
          <div class="row">
            <input type="tel" formControlName="telefone" placeholder="Telefone:" mask="(00) 0000-00000" [class.invalid]="formValues.get('email')?.invalid && formValues.get('telefone')?.touched" />
            <p class="mensagemInvalido" *ngIf="formValues.get('telefone')?.invalid && formValues.get('telefone')?.touched">Campo invalido</p>
            <p class="mensagemInvalido" *ngIf="formValues.get('telefone') && formValues.get('telefone')?.errors && formValues.get('telefone') && formSubmitted">Campo Obrigatório</p>
          </div>
          <div class="row">
            <input
              type="whatsapp"
              formControlName="whatsapp"
              placeholder="WhatsApp:"
              mask="(00) 0000-00000"
              [class.invalid]="formValues.get('whatsapp')?.invalid && formValues.get('whatsapp')?.touched" />
            <p class="mensagemInvalido" *ngIf="formValues.get('whatsapp')?.invalid && formValues.get('whatsapp')?.touched">Campo invalido</p>
            <p class="mensagemInvalido" *ngIf="formValues.get('whatsapp') && formValues.get('whatsapp')?.errors && formValues.get('whatsapp') && formSubmitted">Campo Obrigatório</p>
          </div>
          <div class="row">
            <button class="botao" (click)="proximaEtapa(2)">Clique aqui para registrar sua Manifestação</button>
          </div>
        </div>
      </div>
      <div class="etapa" *ngIf="formPaginaAtual == 2">
        <div class="conteudoTexto" [innerHTML]="conteudoTextos.conteudoTexto2"></div>
        <div class="checkboxes form">
          <label (click)="proximaEtapa(3)">
            <input type="checkbox" />
            Declaro que li e compreendi as informações acima, e desejo prosseguir com a manifestação.
          </label>
          <label (click)="proximaEtapa(1)">
            <input type="checkbox" />
            Não concordo e não desejo seguir com a manifestação.
          </label>
        </div>
      </div>
      <div class="etapa" *ngIf="formPaginaAtual == 3">
        <div class="conteudoTexto" [innerHTML]="conteudoTextos.conteudoTexto3"></div>
        <div class="form">
          <div class="row checkboxes">
            <label>
              <label class="custom-radio">
                <input type="radio" [value]="false" formControlName="anonimo" />
                <span></span>
              </label>
              Denuncia Anônima
            </label>
            <label>
              <label class="custom-radio">
                <input type="radio" [value]="true" formControlName="anonimo" />
                <span></span>
              </label>
              Desejo me identificar
            </label>
          </div>
          <div ngClass="form" class="hidden" *ngIf="formValues.get('anonimo')?.value">
            <div class="row">
              <input type="email" formControlName="email" placeholder="E-mail:" />
            </div>
            <div class="row">
              <input type="tel" formControlName="telefone" placeholder="Telefone:" />
            </div>
            <div class="row">
              <input type="whatsapp" formControlName="whatsapp" placeholder="WhatsApp:" />
            </div>
            <div class="row">
              <select formControlName="relacionamento">
                <option value="Relacionamento com a empresa">Relacionamento com a empresa</option>
              </select>
            </div>
          </div>
          <div class="row">
            <button class="botao" (click)="proximaEtapa(4)">Clique aqui para registrar sua Manifestação</button>
          </div>
        </div>
      </div>
      <div class="etapa" *ngIf="formPaginaAtual == 4">
        <div class="conteudoTexto" [innerHTML]="conteudoTextos.conteudoTexto4"></div>
        <div class="form">
          <div class="row">
            <input formControlName="tipoDeManifestacao" type="text" placeholder="Tipo de Manifestação" />
          </div>
          <div class="row">
            <select formControlName="unidade">
              <option value="Unidade / Filial">Unidade / Filial</option>
            </select>
          </div>
          <div class="row">
            <select formControlName="setor">
              <option value="Setor">Setor</option>
            </select>
          </div>
          <div class="row">
            <input formControlName="dataOcorrencia" type="text" placeholder="Data da Ocorrência" />
          </div>
          <div class="row"></div>
          <div class="row">
            <label for="">
              Envolvidos (Descreva, por gentileza, a(s) pessoa(s) envolvida(s) no evento, inclusive testemunhas, informando, se possível, nome completo, cargo e a participação no fato relatado.):
            </label>
            <textarea formControlName="envolvidos" placeholder="Assunto"></textarea>
          </div>

          <div class="row">
            <label for="">
              Há quanto tempo o problema ocorre?
              <br />
              O caso é de conhecimento do Gestor?
              <br />
              Como tomou conhecimento do caso?
            </label>
            <textarea formControlName="descricaoFinal" placeholder="Descrição"></textarea>
          </div>
          <div class="row">
            <input type="file" class="custom-file-input" multiple formControlName="anexos" (change)="onFileChange($event)" />
            <!-- Anexar Evidencias -->
          </div>
          <div class="row"><button class="botao" (click)="sendData()">Enviar</button></div>
        </div>
      </div>
    </form>
  </div>
</div>
